---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
  outline?: string[];
}

const { outline } = Astro.props;
const h2Headings = Astro.props.headings.filter((heading) => heading.depth === 2);
const headings = outline?.length
  ? outline
      .map((item) => h2Headings.find((heading) => heading.text === item))
      .filter((heading): heading is Heading => Boolean(heading))
  : h2Headings;
---

{
  headings.length > 0 && (
    <aside class="toc" aria-label="Содержание статьи" data-pagefind-ignore>
      <p>Содержание</p>
      <ol>
        {headings.map((heading) => (
          <li class={`depth-${heading.depth}`}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ol>
    </aside>
  )
}
