---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const headings = Astro.props.headings.filter((heading) => heading.depth > 1 && heading.depth <= 3);
---

{
  headings.length > 0 && (
    <aside class="toc" aria-label="Содержание статьи" data-pagefind-ignore>
      <p>Содержание</p>
      <ol>
        {headings.map((heading) => (
          <li class={`depth-${heading.depth}`}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ol>
    </aside>
  )
}
